<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Signup</h2>
            <form th:action="@{/signup}" method="post">
                <div class="form-group">
                    <label th:for="username">Username: </label>
                    <input type="text" class="form-control" id="username" name="username"  required>
                </div>
                <div class="form-group">
                    <label th:for="password">Password:  </label>
                        <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label th:for="confirmPassword">Confirm Password: </label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Signup </button>
                <a href="@{/login}" class="btn btn-secondary">Login</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>