<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Add Task')"></head>

<body>
<section th:replace="fragments :: header('Add Task')">
</section>

<section class = "bg-light py-4">
    <div class = "container">
        <form th:action="@{/task/add}" method = "post" th:object="${task}">
            <div class = "mb-3">
                <label th:for="taskName"> Task Name: </label>
                <input type = "text" class = "form-control" id = "taskName" th:field="*{taskName}">
            </div>
            <div class = "mb-3">
                <label th:for="description"> Description: </label>
                <input type = "text" class = "form-control" id = "description" th:field="*{description}">
            </div>
            <button type="submit" class="btn btn-primary"> Add </button>
        </form>
        <div th:replace="fragments :: back-button"></div>
    </div>
</section>

</body>
</html>