<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/" rel="stylesheet" />

</head>

<body>
<section class = "bg-primary text-white py-4">
    <div class = "container">
        <h1 class = "text-center"> Add Task</h1>
    </div>
</section>

<section class = "bg-light py-4">
    <div class = "container">
        <form th:action="@{/}" method = "post">
            <div class = "mb-3">
                <label th:for="taskName"> Task Name: </label>
                <input type = "text" class = "form-control" id = "taskName" name = "taskName" th:field="${task.taskName}">
            </div>
            <div class = "mb-3">
                <label th:for="description"> Description: </label>
                <input type = "text" class = "form-control" id = "description" name = "description" th:field="${task.description}">
            </div>
            <button type="submit" class="btn btn-primary"> Add </button>
        </form>
        <a href="/" class="btn btn-secondary mt-3"> Home </a>
    </div>
</section>

</body>
</html>