<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Edit Task')"></head>
<body>
<div class="container">
    <h1 class="mt-4">Edit Task</h1>
    <form th:action="@{/task/update/{id}(id=${task.id})}" method="post" th:object="${task}">
        <div class="mb-3">
            <label th:for="taskName">Task Name</label>
            <input type="text" class="form-control" id="taskName" th:field="*{taskName}"/>
        </div>
        <div class="mb-3">
            <label th:for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" th:field="*{description}"/>
            </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <div th:replace="fragments :: back-button"></div>
</div>

</body>
</html>